doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://code.jquery.com/jquery-1.9.1.min.js', integrity='sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='js/lib/all.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='https://code.highcharts.com/stock/modules/exporting.js')
    script(src='js/main.js')
    link(href='css/lib/all.css', rel='stylesheet', type='text/css')
    link(href='http://s.mlcdn.co/animate.css', rel='stylesheet', type='text/css')
  body
    .modal#addModal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Add a Stock
          .modal-body
            .form-group.label-floating
              label.control-label(for='stockInput') Stock Code
              input#stockInput.form-control(type='text')
              p.help-block Make Sure Its A Valid Stock Code
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            a.btn.btn-primary(type='button' href='javascript:submitStock()') Add Stock

    br
    br
    .container
        .jumbotron
            #container(style='height: 400px; min-width: 310px')
        .col-md-2
        .col-md-8.stock-info
        .col-md-2
